.Class1{

hieght:30px;
width:150px;
color:red;
background-color:black;
text-align:center;
border:3px solid blue;

}

.Class2{

text-align:left;
color:white;
background-color:black;
border:3px solid red;
border-radius:5px;

}

#Id1{

color:#ffcc00;

}

a{

color:blue;

}

a:visited{

color:green;

}

a:hover{

color:orange;

}
